* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mainWrapper{
	background-color: blue;
}


.left-menu{
	float: left;
	height: auto;
	min-height: 700px;
	width: 20%;
	background-color: #afceff;
	margin-left: 5%;
}

.left-menu ul{
	list-style: none;
}

.left-menu h1{
	margin-left: 50px;
}

.left-menu h2{
	font-size: 1.5em;
}

.left-menu p{
	font-size: 0.75em;
}

.left-menu img{
	width: 150px;
	height: 100px;
	background-color: black;
}

.top-center-menu{
	float: right;
}

.top-table h1{
	margin-bottom: 30px;
}

.top-table{
	background-color: #e5b3d8;
	margin-right: 100px;
	margin-bottom: 20px;
}

.bottom-center-menu{
	width: 720px;
	margin-right: 100px;
	margin-bottom: 50px;
	float: right;	
	height: auto;
	background-color: #d5f7d4;
}

.displayPic img{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
 	background-position: center center;
	background-size: cover;
}

.displayPic{
	position: relative;
	height: 200px;
	width: 200px;
	padding: 20px 0 0 20px;
}

.dp{
	margin: auto;
}

.dp label{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: black;
}

.dp span{
	font-size: 3em;
	left: 55px;
	top: 50px;
}

#changeDp{
	opacity: 0;
}

#changeDp:hover{
	opacity: 0.5;
}


#upload{
	position: absolute;
	opacity: 0;
	z-index: -2;
}

.username{
	text-align: center;
}

.profileDesc{
	width: 80%;
	margin: 0 auto;
}

#info{
	resize: none;
	width: 100%;
	height: 100%;
}

.btn-info{
	transition: all 0.5s ease-in-out;
	opacity: 0;
	float: right;
}

.infoWrapper{
	position: relative;
	width: 100%;
}

.infoMask{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.innerWrap{
	padding: 10px;
}

.innerWrap h1{
	margin-left: 50px;
}

.userUploads li{
	float: left;
	padding: 2px;
	width: 200px;
	margin: 10px;
	cursor: pointer;
}

.userUploads{
	background-color: blue;
	height: auto;
	width: 100%;
	list-style: none;
}

.userUploads h2{
	font-size: 1.5em;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.userUploads p{
	height: 50px;
}

.userUploads li img{
	width: 200px;
	height: 100px;
	background-color: black;
}

.top-table, .top-table td{
	border-collapse: collapse;
}

#history li{
	cursor: pointer;
}

.socialButtons button{
	width: 100px;
	margin-bottom: 20px;
}